<section class="objective" id="objective-<%= objective.id %>">
  <%= editable_tag(objective, 'name', :h3)%>
  <%= link_to 'x', objective, method: :delete, remote: true, class: 'delete-objective', data: {confirm: 'Are you sure?'} %>

  <div class="metric">
    <% unless objective.metric_id.present? %>
      No metric selected
      <%= render partial: 'objectives/select_metric', locals: {
        objective: objective,
        metrics: @metrics
      } %>
    <% end %>
  </div>
</section>
