<h2 id="projects-header"><%= @projects.count %> projects in progress</h2>
<ul id="projects">
  <% @projects.each do |project| %>
    <li>
      <%= link_to project_path(project) do %>
        <h3><%= project.name %></h3>
      <% end %>
    </li>
  <% end %>
</ul>
