<ul id="projects">
  <% @projects.each do |project| %>
    <li>
      <%= project['value']['name'] %>
      <ul>
        <% project['value']['objectives'].each do |objective| %>
          <li><%= link_to objective['name'], objective_path(objective['_id']) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
