<h2><%= @project['name'] %></h2>

<% @project['objectives'].each do |objective| %>
  <section class="objective" id="<%= objective["id"] %>">
    <h3><%= objective['name'] %></h3>
    <% if objective['metric'].present? %>
      <h4><%= objective['metric']['name'] %></h4>
    <% end %>
  </section>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
      chartView = new MetricChartView({}, {});
    });
  </script>
<% end %>
