.hover-edit-tab {
  position: absolute;
  width: 50px;
  padding: 5px;

  background-color: white;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #EEE;
  border-right: 0;
}
