body {
  background-image: asset-url('food.png');
}

.row {
  background-color: white;
  padding: 10px 25px;

  h2 {
    margin-bottom: 30px;
  }
}

#projects {
  list-style-type: none;

  li {
    padding: 5px;
    border-bottom: 1px solid #EEE;
  }
}

.objective {
  border-bottom: 1px solid #EEE;
  padding-bottom: 30px;
  margin-bottom: 30px;

  .delete-objective {
    float:right;
  }
}
