body {
  background-image: asset-url('food.png');
}

.row {
  background-color: white;
  padding: 10px 25px;

  h2 {
    margin-bottom: 30px;
  }
}

#projects {
  list-style-type: none;

  li {
    padding: 5px;
    border-bottom: 1px solid #EEE;
  }
}

.objective {
  border-bottom: 1px solid #EEE;
  padding-bottom: 30px;
  margin-bottom: 30px;


  .delete-objective {
    display: none;
    float:right;
    margin-top: -35px;
    font-size: 15px;
  }

  &:hover {
    .delete-objective {
      display: inline;
    }
  }
}

.metric {

  .y.axis line, #line-viz .y.axis path {
    fill: none;
    stroke: #555;
  }
  
  .x.axis line {
    fill: none;
    stroke: none;
  }
  
  text {
    fill: #555;
    font-size: 0.9em;
  }
  
  .line {
    fill: none;
    stroke: #FF530D;
    stroke-width: 2px;
  }

  circle.dot {
    fill: #557AD4;
  }
  circle.dot:hover {
    stroke: #ACB9D4;
    stroke-width: 10px;
  }

}

